<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello django</h1>
    <input type="text" placeholder="Query" autofocus autocomplete="off">

    <ul></ul>

    <script>
        let lenght_of_li = 0 ; 
        let rando = lenght_of_li
        setInterval(async function(){
            let response = await fetch("/search?q=" + "ada")
            let shows = await response.text();

            document.querySelector('ul').innerHTML= shows;
            
            lenght_of_li = document.getElementsByTagName("li").length
            if (lenght_of_li > rando){
                alert("New Element added")
                rando = lenght_of_li
                console.log(rando)
            }
            console.log(lenght_of_li)
        }, 10000)


    </script>
</body>
</html>